/* Nav hamburger menu styling */
.hamburger_icon_container {
  display: inline-block;
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger_icon_container {
    transform: scale(0.8);
  }
}

/* Hamburger icon styling */
.hamburger_icon {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 101;
  padding: 0;
}

.hamburger_icon:focus,
.hamburger_icon:hover {
  outline: none;
}

/* Lines of the hamburger menu */
.hLine,
.hamburger_icon::before,
.hamburger_icon::after {
  content: "";
  width: 2.4rem;
  height: 2px;
  background-color: var(--font-color);
  transition:
    opacity 200ms ease-in-out,
    width 200ms ease-in-out,
    transform 0.3s ease;
  transform-origin: left center;
}


/* Cross state */
.cross .hLine {
  opacity: 0;
  width: 0;
}

.cross.hamburger_icon::before {
  transform: rotate(32deg);
}

.cross.hamburger_icon::after {
  transform: rotate(-32deg);
}