:root {
  --white-rgba: rgba(255, 255, 255, 0.6);
  --orange-rgba: rgba(225, 150, 48, 0.1);

  /* fonts */
  --firaCode: "Fira Code", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --montserrat: "Montserrat", "Epilogue", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

/* Dark/light mode */
:root,
:root.dark {
  --bgColor: #1e1e1e;
  --bgColor-rgba: rgba(30, 30, 30, 0.9);
  --bgColorLight: #2f2d2e;
  --bgColorDark: #0c1417;
  --fontColorDarker: #cccccc;
  --fontColor: #fffded;
  --fontColorLight: #fff;
  --orange: #e19630;
}

:root.light {
  --bgColor: #f9f7f3;
  --bgColor: #f0f2f5;
  --bgColor-rgba: rgba(255, 255, 255, 0.9);
  --bgColorLight: #ffffff;
  --bgColorDark: #ffffff;
  --fontColor: #1e1e1e;
  --fontColorLight: #000000;
  --orange: #e19630;
  --orange: #1f1200;
}

/* Nav hamburger menu styling */
.hamburger_icon_container {
  display: inline-block;
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .hamburger_icon_container {
    transform: scale(0.8);
  }
}

/* Hamburger icon styling */
.hamburger_icon {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 101;
  padding: 0;
}

.hamburger_icon:focus,
.hamburger_icon:hover {
  outline: none;
}

/* Lines of the hamburger menu */
.hLine,
.hamburger_icon::before,
.hamburger_icon::after {
  content: "";
  width: 2.4rem;
  height: 2px;
  background-color: black;
  transition:
    opacity 200ms ease-in-out,
    width 200ms ease-in-out,
    transform 0.3s ease;
  transform-origin: left center;
}

/* Cross state */
.cross .hLine {
  opacity: 0;
  width: 0;
}

.cross.hamburger_icon::before {
  transform: rotate(32deg);
}

.cross.hamburger_icon::after {
  transform: rotate(-32deg);
}
